---
export interface Props {
	name: string;
	href: string;
}

const { name, href } = Astro.props;
---

<div class="sponsor">
	<p>Sponsored by <a {href}>{name}</a></p>
</div>

<style>
	.sponsor {
		margin-bottom: 0.75rem;
	}
</style>
